extends layout

block content
    div(class="container")
        section(class="access")
            h1(class="access__title") ADMIN ACCESS
            if !currentUser 
                p #{noUser}
            else if (user.isAdmin)
                div(class="access__success")
                    p(class="access__success--text" style="color: blue") YOU ARE AN ADMIN
                    button
                        a(href="/") RETURN
            else 
                form(class="access__form" action="/admin" method="POST")
                    label(class="access__label" for="adminCode") Please enter the password:
                    input(Class="access__input" name="adminCode" type="password" required="true")
                    if passwordFail
                        p(style="color: red") #{passwordFail}
                    button(class="access__button") ENTER