doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header(class="header")
      a(class="header__link" href="/")
        img(class="header__logo" src="/images/GGST_Logo.webp" alt="ggst logo")
        
    block content