extends layout 

block content 
    div(class="container")
        section(class="login")
            h1(class="login__title") Login
            form(class="login__form" action="/log-in" method="POST")
                label(class="login__label" for="username") Username:
                input(class="login__input username" name="username" type="text" required="true")
                label(class="login__label" for="password") Password:
                input(class="login__input password" name="password" type="password" required="true")
                button(class="login__button") Log In