extends layout 

block content 
    div(class="container")
        section(class="login")
            if !currentUser
                p(class="login__text") #{noUser}
                button(class="btn")
                    a(href="/sign-up") SIGN UP
                button(class="btn")
                    a(href="/log-in") LOG IN
                button(class="btn")
                    a(href="/") HOME
            else if !currentUser.isMember && !currentUser.isAdmin
                p(class="login__text") To post a new message you must be a member and/or an admin.
                button(class="btn")
                    a(href="/member") MEMBER ACCESS
                button(class="btn")
                    a(href="/admin") ADMIN ACCESS
                button(class="btn")
                    a(href="/") HOME
            else 
                h1(class="login__title") NEW MESSAGE
                form(class="login__form" action="/new-message" method="POST")
                    label(class="login__label" for="subject") Subject:
                    input(class="login__input subject" name="subject" type="text" required="true")
                    label(class="login__label" for="message") Message:
                    textarea(name="message" class="message" style="resize: none" rows="8" required="true")                   
                    if errors
                        ol
                            each error in errors 
                                 p(style="color: red") - #{error.param}: #{error.msg}

                    button(class="login__button") SUBMIT