*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    height: 100vh;
    background-color: #1E0C0E;
    color: #A9A7A8;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color:#101010;
    text-decoration: none;
    font-weight: 800;
}

// HEADER 

.header {
    display: flex;
    justify-content: center;

    &__link {
        text-align: center;
    }

    &__logo {
        max-width: 650px;
    }
}


// BROWSER 

.browser {

    &__nav {
        max-width: 600px;
        background-color: #101010;
        padding: .75rem 0.5rem;
        border-radius: 0.5rem;
        margin: auto;

        &--link {
            color: #A9A7A8;
            text-decoration: none;
            font-weight: 800;
        }

        &--link:hover {
            text-decoration: underline;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__messages {
        display: flex;
        flex-direction: column;
        align-items: center;  
        gap: 1rem
    }

    &__message:first-child {
        margin-top: 1rem;
    }

    &__message {
        width: 100%;
        max-width: 700px;
        background-color: #101010;
        padding: 1rem;
        border-radius: 5px;
        display: flex;  
        position: relative;

        &--user {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: underline;
        }

        &--info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 100%;
        }

        &--title {
            font-size: 1.2rem;
            text-decoration: underline;
            font-weight: 800;
        }

        &--delete {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0.2rem;
            cursor: pointer;
        }
    }
   
}

// USER 

.user {

    &__nav {
        max-width: 650px;
        background-color: #101010;
        padding: .75rem 0.5rem;
        border-radius: 0.5rem;
        margin: auto;

        &--link {
            color: #A9A7A8;
            text-decoration: none;
            font-weight: 800;
            margin: 0 1rem;
        }

        &--link:hover {
            text-decoration: underline;
        }
    }
    
    &__list {
        display: flex;
        justify-content: space-between;

        &--inner {
            display: flex;
        }
    }


}


// CONTAINER 

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

// SIGN UP

.signup {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem;
    background-color: #101010;
    border-radius: 1rem;

    &__title {
        font-size: 2rem;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 0.25rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__button {
        height: 1rem;
    }

    &__form--section {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.25rem;
    }

    &__label {
        font-weight: 800;
        margin-bottom: 0.2rem;
    }

    &__input {
        height: 2rem;
    }

    &__button {
        margin-top: 0.25rem;
        height: 2rem;
    }
}

// LOG IN

.login {
    display: flex;
    flex-direction: column;    
    background-color: #101010;
    width: 100%;
    max-width: 700px;
    padding: 1rem 1rem;

    &__title {
        font-size: 2rem;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 1rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-weight: 800;
        margin: 1rem 0;
    }

    &__input {
        height: 2rem,;
    }

    &__button {
        height: 2rem;
        margin: 1rem 0;
    }

    &__text {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}

// ACCESS 

.access {
    display: flex;
    flex-direction: column;    
    background-color: #101010;
    max-width: 700px;
    padding: 1rem 1rem;

    &__title {
        font-size: 2rem;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 1rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-weight: 800;
        margin: 1rem 0;
    }

    &__input {
        height: 2rem,;
    }

    &__button {
        height: 2rem;
        margin: 1rem 0;
    }

    &__success {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--text {
            font-weight: 800;
            margin: 2rem 0;
        }
    }

    &__text {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}

// ADMIN ACCESS

.adminAccess {
    display: flex;
    flex-direction: column;    
    background-color: #101010;
    width: 60%;
    padding: 1rem 1rem;

    &__title {
        font-size: 2rem;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 1rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-weight: 800;
        margin: 1rem 0;
    }

    &__input {
        height: 2rem,;
    }

    &__button {
        height: 2rem;
        margin: 1rem 0;
    }
}

// BUTTON 

.btn {
    height: 2rem;
    margin: 0.5rem;
}


// CHARACTER

.character-container {
//   height: 140px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow-x: scroll;
//   overflow-y: hidden;
  margin: 0.5rem 0;
}

.character-container input {
    display: none;
}

.character-container input:checked + .character {
    border: 3px solid #BA0007;

}

.character {
    width: 130px;
    height: 130px;
    background-position: bottom;
    background-size: cover;
    border: 2px solid #101010;
    border-radius: 100%;
    cursor: pointer;
    margin: 0.25rem 0.5rem;
}


.testament {
    background-image: url("../images/testament_ggst.png")
}

.jack-o {
    background-image: url("../images/jacko_ggst.png");
}

.nagoriyuki {
    background-image: url("../images//nagoriyuki_ggst.png");
}

.millia {
    background-image: url("../images/millia_ggst.png");
}

.chipp {
    background-image: url("../images/chipp_ggst.png");
}

.sol {
    background-image: url("../images/sol_ggst.png");
}

.ky {
    background-image: url("../images/ky_ggst.png");
}

.may {
    background-image: url("../images/may_ggst.png");
}

.zato-1 {
    background-image: url("../images/zato_ggst.png");
}

.i-no {
    background-image: url("../images/ino_ggst.png");
}

.chaos {
    background-image: url("../images/chaos_ggst.png");
}

.baiken {
    background-image: url("../images/baiken_ggst.png");
}

.anji {
    background-image: url("../images/anji_ggst.png");
}

.leo {
    background-image: url("../images/leo_ggst.png");
}

.faust {
    background-image: url("../images/faust_ggst.png");
}

.axl {
    background-image: url("../images/axl_ggst.png");
}

.potemkin {
    background-image: url("../images/potemkin_ggst.png");
}

.ramlethal {
    background-image: url("../images/ramlethal_ggst.png");
}

.giovanna {
    background-image: url("../images/giovanna_ggst.png");
}

.goldlewis {
    background-image: url("../images/goldlewis_ggst.png");
}

.bridget {
    background-image: url("../images/bridget_ggst.png");
}

.sin {
    background-image: url("../images/sin_ggst.png");
}

@media only screen and (max-width: 990px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .signup {
      width: 80%;
      height: 1400px;

      &__form {
        height: 100%;
        display: flex;
        gap: 2rem;
      }
    }

    .character {
        width: 150px;
        height: 150px;
    }

    .character-container {
        display: flex;
        flex-wrap: wrap;
    }
  }

